<table>
  <tr>
    <td><a [routerLink]="['/customer']" routerLinkActive="true">[Customer]</a></td>
<!--    <td><a [routerLink]="['/redux-store']" routerLinkActive="true">[Redux-store]</a></td>-->
    <td><a [routerLink]="['/book-store']" routerLinkActive="true" *ngIf="isLoggedIn()">[Book-Store]</a></td>
<!--    <td><a [routerLink]="['/book-store']" routerLinkActive="true" *ngIf="isLoggedIn()">[RESTRICTED-PAGE]</a></td>-->
    <td><button (click)="login()" *ngIf="!isLoggedIn()">SIGN IN</button></td>
    <td><button (click)="logout()" *ngIf="isLoggedIn()">SIGN OUT</button></td>
  </tr>
</table>
<div *ngIf="isLoggedIn()">
  <h3>You are logged in</h3>
</div>
<div *ngIf="!isLoggedIn()">
  <h3>You are NOT logged in</h3>
</div>
<br/>
<router-outlet></router-outlet>
